
module.exports = (function() {

    var apiKey            = key;
    var accessToken       = tokens['access_token'];
    var secretAccessToken = tokens['secret_access_token'];

    return {

        setApiKey: function(key) {
            apiKey = key;
        },

        setOAuthTokens: function(tokens) {
            accessToken = tokens['access_token'];
            secretAccessToken = tokens['secret_access_token'];
        },

        {{#types}}
        {{.}}: {},
        {{/types}}

        {{#methods}}
            {{type}}.{{name}}: function(params) {
                var uri = "{{#.}}{{{uri}}}{{/.}}";
                for (var key in params) {
                    uri = uri.replace(':' + key, params[key]);
                }
                var result;

                {{#requires_oauth}}
                if (accessToken && secretAccessToken) {
                    {{#is_get}}
                        result = oauth.get(uri, accessToken, secretAccessToken, callback);
                    {{/is_get}}
                    {{#is_post}}
                        // TODO make these arguments match the oauth post args
                        result = oauth.post(uri, accessToken, secretAccessToken, callback);
                    {{/is_post}}
                    {{#is_put}}
                        // TODO make these arguments match the oauth put args
                        result = oauth.put(uri, accessToken, secretAccessToken, callback);
                    {{/is_put}}
                    {{#is_delete}}
                        // TODO make these arguments match the oauth put args
                        result = oauth.put(uri, accessToken, secretAccessToken, callback);
                    {{/is_delete}}
                } else {
                    throw("Must set access token and secret_access_token");
                }
                {{/requires_oauth}}
                {{^requires_oauth}}
                console.log('TODO: non oauth requests');
                {{/requires_oauth}}
                return result;
            },
        {{/methods}}

})()

module.exports = Etsy;
